nav {
    display: flex;
    justify-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
    background: #de4949;
=======
    background: #444;
>>>>>>> 079af18 (Created mobile-friendly navbar with Bootstrap)
=======
    background: #de4949;
>>>>>>> a8d83e1 (included basic hero section)
    padding: 0.5rem;
}

nav a {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
    color: #b73d3d;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    padding: 0.5rem;

    position: absolute;
    width: 100%;
    top: 100vh;
}

.scrolled-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #d4d4d4;
}

.nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
    /*background-color: #838383;*/
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    /*margin: auto;
    width: 50%;*/
}

.hero {
    height: 100vh;
    background-color: #cecece;
}

.about {
    padding-top: 150px;
    height: 100vh;
    background-color: #cecece;
}   

.projects {
    height: 100vh;
    background-color: #cecece;
}   
=======
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
>>>>>>> 079af18 (Created mobile-friendly navbar with Bootstrap)
=======
=======
<<<<<<< HEAD
>>>>>>> 6c01f6d (Created mobile-friendly navbar with Bootstrap)
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
>>>>>>> 529fc4be6e3c3b20bbf7f5b617b4d6b9b33f1d5e
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
    color: #b73d3d;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    padding: 0.5rem;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 23b466f (updated navbar id name)
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
=======
>>>>>>> 23b466f (updated navbar id name)

    position: absolute;
    width: 100%;
    top: 100vh;
}

.scrolled-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #d4d4d4;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
>>>>>>> 23b466f (updated navbar id name)
<<<<<<< HEAD
=======
>>>>>>> 23b466f (updated navbar id name)
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
}

.nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
    /*background-color: #838383;*/
}

footer {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
    position: relative;
    bottom: 0;
    width: 100%;
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
    position: relative;
    bottom: 0;
    width: 100%;
>>>>>>> 23b466f (updated navbar id name)
<<<<<<< HEAD
=======
    position: relative;
    bottom: 0;
    width: 100%;
>>>>>>> 23b466f (updated navbar id name)
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
    text-align: center;
    background-color: #cccccc;
    /*margin: auto;
    width: 50%;*/
}

.hero {
    height: 100vh;
    background-color: #cecece;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
=======
}

.about {
    padding-top: 150px;
    height: 100vh;
    background-color: #cecece;
}   

.projects {
    height: 100vh;
    background-color: #cecece;
}   
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
>>>>>>> 160cd9e (Navbar starts below hero section and sticks to top after)
=======
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
<<<<<<< HEAD
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
=======
}

.about {
    padding-top: 150px;
    height: 100vh;
    background-color: #cecece;
}   

.projects {
    height: 100vh;
    background-color: #cecece;
}   
>>>>>>> 160cd9e (Navbar starts below hero section and sticks to top after)
>>>>>>> 23b466f (updated navbar id name)
=======
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
=======
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
>>>>>>> 079af18 (Created mobile-friendly navbar with Bootstrap)
=======
    color: #b73d3d;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    padding: 0.5rem;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb

    position: absolute;
    width: 100%;
    top: 100vh;
}

.scrolled-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #d4d4d4;
<<<<<<< HEAD
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
}

.nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
    /*background-color: #838383;*/
}

footer {
<<<<<<< HEAD
<<<<<<< HEAD
    position: relative;
    bottom: 0;
    width: 100%;
=======
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
    position: relative;
    bottom: 0;
    width: 100%;
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
    text-align: center;
    background-color: #cccccc;
    /*margin: auto;
    width: 50%;*/
}

.hero {
    height: 100vh;
    background-color: #cecece;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
<<<<<<< HEAD
>>>>>>> 6c01f6d (Created mobile-friendly navbar with Bootstrap)
=======
=======
}

.about {
    padding-top: 150px;
    height: 100vh;
    background-color: #cecece;
}   

.projects {
    height: 100vh;
    background-color: #cecece;
}   
>>>>>>> 160cd9e (Navbar starts below hero section and sticks to top after)
>>>>>>> be2ef49 (updated navbar id name)
=======
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
>>>>>>> e5fe5b1 (Created mobile-friendly navbar with Bootstrap)
=======
=======
>>>>>>> 529fc4be6e3c3b20bbf7f5b617b4d6b9b33f1d5e
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
}                                                                               
>>>>>>> a8d83e1 (included basic hero section)
=======
}

.about {
    padding-top: 150px;
    height: 100vh;
    background-color: #cecece;
}   

.projects {
    height: 100vh;
    background-color: #cecece;
}   
>>>>>>> 160cd9e (Navbar starts below hero section and sticks to top after)
<<<<<<< HEAD
>>>>>>> 23b466f (updated navbar id name)
=======
<<<<<<< HEAD
>>>>>>> 23b466f (updated navbar id name)
=======
>>>>>>> 529fc4be6e3c3b20bbf7f5b617b4d6b9b33f1d5e
>>>>>>> 8190329ee7d73957eb9962797949bff772f2c5cb
