:root{
  --nav-height: 60px;
}

nav {
    display: flex;
    justify-content: center;
    background: #de4949;
    padding: 0.5rem;
}

nav a {
    color: #b73d3d;
    margin: 0 1rem;
    text-decoration: none;
}

.navbar {
    background-color: #d4d4d4;
    padding: 0.5rem;
}

.scrolled-navbar {
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrolled-navbar + .about,
.scrolled-navbar + .projects,
.scrolled-navbar + .contact {
  padding-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}

.nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
    /*background-color: #838383;*/
}

.hero,
.about,
.projects,
.contact {
  height: 100vh;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #cecece;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adadad;
}